html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img,{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
	font-family: Roboto, sans-serif;
	background-color: #e2d7aa;
	color: #000000;
	font-size: 16px;
	width: 1180px;
	margin: auto;
}

img {
	width: 1100px;
	height: 450px;
}

h1 {
	font-size: 60px;
	text-align: center;
	margin-top: 65px;
}

h3 > a, h3 {
	font-size: 20px;
	text-align: left;
}

nav {
	margin: 30px;
}

a {
	text-decoration: none;
	color: #0a2d4a;
	font-weight: bold;
}

article {
	width: 30%;
	display: inline-block;
	padding: 5px;
	height: 100%;
	vertical-align: top;
}

article > img {
	width: 350px;
	height: 200px;
	margin-bottom: 20px;
}

p {
	text-align: justify;
}

p::first-letter {
	font-family: EucrosiaUPC, sans-serif;
	font-size: 320%;
	vertical-align: top;
	float: left;
}

span > a {
	background-image: url("images/bg2.jpg");
	color: #ffffff;
	padding: 10px;
	margin-top: 10px;
	font-size: 20px;
}

footer {
	margin: 0px;
	padding: 40px 0 64px 0;
	text-align: center;
}

article p:last-of-type span:first-of-type a::before {
	content: url("images/comment.png");
	position: relative;
	right: 5px;
	top: 7px;
	font-size: 10px;
}

li {
	font-size: 24px;
	height: 40px;
	padding: 20px;
	display: inline-block;
}

